html {
    font-size: 62.5%;
}

body {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    background-color: #F7F7F7;
    margin-top: 20px;
}

.main .main-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* cards de recomendações */

.aside {
    display: flex;
    flex-direction: column;
}

.recomendacao {
    display: flex;
    margin-top: 16px;
}

.recomendacao .descricao {
 margin-left: 4px;
}

.recomendacao .descricao h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.recomendacao .descricao p {
    font-size: 1.3rem;
}